[Unit]
Description=Josev RSLAC
Wants=afm-appli-charging-manager--main@1001.service
After=afm-appli-charging-manager--main@1001.service

[Service]
ExecStart=/usr/josev/rslac/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

